html, body , #app {
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
  overflow: hidden;
}

.label{
  padding-top:  20%;
}

.label > div{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.label-text{
  text-align: center;
}

.buttonrow{
  height: 80%;
}

.button-ok{
  left: 35%;
  position: fixed;
}

#splineview{
  position: absolute;
  z-index: -2;
}

.gifLabel{
  height:  50%;
}

.gif{
  width: 40%;
  max-width: 360px;
}

.gifcol{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}
